@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align: center">
    <hr />
    @model IEnumerable<Movie>

    @{

        if (Model != null)
        {
            @foreach (var item in Model)
            {

                <div class="movie-card">
                    @if (item.Poster != "N/A")
                    {

                        <a href="@Url.Action("MovieInfo", "Home", new { imdbID = item.imdbID })">
                                <img class="round-pic2 thumbnail" src=@item.Poster title="CLICK TO VIEW DESCRIPTION" >
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("MovieInfo", "Home",  new { imdbID = item.imdbID })">
                            <img class="image-movie" src="~/images/default.jpg" title="CLICK TO VIEW DESCRIPTION">
                        </a>
                    }

                    <h5 class="card-title"><b>Title:</b> <span id="title">@item.Title</span></h5>
                    <p class="card-text"><b>Type:</b><span id="type"> @item.Type </span></p>
                    <p class="card-text"><small><b>Year:</b><span id="year">@item.Year</span></small></p>
                    <input href="#myModal" data-toggle="modal" id="query" class="btn btn-danger" type="button" value="See Trailer" onclick="keyWordsearch(this)" data-title="@item.Title" data-year="@item.Year" />

                    <div id="result">
                        <div id="myModal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width: 600px; top: 20px; text-align: center; margin: auto; margin-top: 10px">
                                    <div class="modal-header" style="background-color: #222">
                                        <p style="display: inline-block;">Trailer from <span id="testTitle"></span></p>
                                        <button type="button" class="btn btn-danger" style=" float: right;" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe id="ytplayer" type="text/html" width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            }
        }
        else
        {
            <div>
                <h2>Search for any film or TV Show you want!</h2>
            </div>
        }


    }
</div>

